body {
    font-family:  "Source Sans Pro", sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: #000 url('../ivr/page-bg-1.jpg');
/*    background: #000;*/
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    letter-spacing: 5px;
    font-weight: 700;
}
.pad {
    padding: 4px;
}
h5.titulo-pro a {
    color: #000;
}
h5.titulo-pro a:hover {
    color: #333;
}
h4.title-bg, h5.title-bg {
background: #f8f8f8;
padding: 12px;
color: #000;
border-bottom: 1px dotted #000;
border-top: 1px dotted #000;
font-weight: 400;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}
a {
    color: #BF8F00;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #996633;
}
/* NAVBAR */

.navbar {

    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
}
.light
{
    font-weight: 100;
}

.navbar-brand
{
    font-weight: 700;
}
.navbar-brand:focus {
    outline: 0;
}
.navbar-custom a {
    color: #f8f8f8;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #f8f8f8;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 12px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background: rgba(0, 0, 0, 0.9);
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}
.mini-ec {
    background: url("../ivr/ec.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;

}
/*INTRO*/
.live {
    background: url("../ivr/live.gif");
    display: inline-block;
    width: 9px;
    height: 9px;
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: rgba(127, 195, 98, 1)5px 10px 90px;
    background: #000 url(../ivr/intro-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {

    font-size: 20px;
}

.intro-text {

    font-size: 18px;
    font-weight: bold;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 65px;
    }

    .intro-text {

        font-size: 25px;

    }
}
@media(max-width:550px) {

    .oculto {
        display: none;
    }
}
.btn-circle {
/*    padding-top: 45px;*/
    font-size: 60px;
    color: #fff;
    background: 0 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
}

.page-scroll .btn-circle i.animated {

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {

    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.color-bar-1 {
    width:100%;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: black;
    height: 5px;
}
/*LOGO SKILLS*/
.logoi {
  color: #fff;
  display: inline-block;
  vertical-align: top;
}
.logoi:hover {
  color: #fff;
}
.vr-logo-skills {
    margin-top: 35px;
}
.vr-logo-skills ul {
    padding-left: 0px;
}
.vr-logo-skills li
{
	background-image: url('../ivr/vr-skills.png');
	background-repeat: no-repeat;
	height: 64px;
	width: 64px;
	display:inline-block;
	text-indent:-9999px;
}
	.vr-logo-skills li.nodejs
	{
		background-position: 0 0;
	}
	.vr-logo-skills li.angularjs
	{
		background-position: -64px 0;
	}
    .vr-logo-skills li.mongodb
	{
		background-position: -128px 0;
	}
.content-section {
    padding-top: 80px;
}

.contact-section {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    color: #f8f8f8;
    background: url(../ivr/contacto.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
/*    margin-top: 100px;*/
}

@media(min-width:767px) {
    .content-section {
        padding-top: 75px;
    }

    .contact-section {
        padding-top: 75px;
        padding-bottom: 10px;
    }

    #map {
        height: 300px;
/*        margin-top: 250px;*/
    }
}
.vr-web-presentacion h2 {
    font-size: 16px;
    color: #464c5b;
    text-align: center;
    text-shadow: none;
}
.vr-web-presentacion
{
	background-color: #f8f8f8;
}
.flexslider
{
	border: 4px solid #5d5d5d;
	margin: 0;
}
.flex-direction-nav a
{
	width: 30px;
	height: 30px;
	background: url('../ivr/bg_direction_nav.png') no-repeat;
	text-indent: -9999px;
}
.flex-direction-nav .flex-next {
	background-position: -30px 0;
	text-align: initial;
	right: 0;
}
.flex-direction-nav .flex-prev {
	left: 0;
}
.flex-control-nav
{
	display: none;
}
.thumbnail {
    border: 1px solid #000;
}
/*footer*/
.footer {
    text-align: center;
    color: #aaa;
    font-size: 14px;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.9);
}

.footer .made-with-heart a{
	position:relative;
	top:1px;
	text-decoration:none;
	color:#aaa;
	-webkit-transition:0.2s color ease-in 0;
	-moz-transition:0.2s color ease-in 0;
	-o-transition:0.2s color ease-in 0;
	-transition:0.2s color ease-in 0;
}

.footer .made-with-heart a:hover{
	color:#333;
}

.contact-section .email a {
    position:relative;
	top:1px;
	text-decoration:none;
	color: #f8f8f8;
	-webkit-transition:0.2s color ease-in 0;
	-moz-transition:0.2s color ease-in 0;
	-o-transition:0.2s color ease-in 0;
	-transition:0.2s color ease-in 0;
}
/*
.download-section .email a:hover {
    color: #fff;
}
*/
/*

//bootstrap regla
.list-inline {
    padding-top: 35px;
}
*/

/*totop*/
#toTop {
	width:47px;
	height:47px;
	background:url('../ivr/back-top-btn.png') no-repeat;
/*	text-align:center;*/
	position:fixed;
	bottom:75px;
	right:20px;
	cursor:pointer;
	display:none;
	text-indent:-9999px;
	z-index:12;
}
.followers {
    padding: 8px;
}
/*

.vr-web-social
{
	display:inline-block;
    background-image: url('../ivr/social.png');
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
     -webkit-transition:0.2s color ease-in 0;
	-moz-transition:0.2s color ease-in 0;
	-o-transition:0.2s color ease-in 0;
	-transition:0.2s color ease-in 0
}
.vr-web-social-github
{
    background-position: 0 0;
}
.vr-web-social-github:hover
{
    background-position: 0 -30px;
}
.vr-web-social-twitter
{
    background-position: -32px 0;
}
.vr-web-social-twitter:hover
{
    background-position: -35px -30px;
}
*/
.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    width: 135px;
    border: 1px solid #f8f8f8;
    color: #f8f8f8;
    background-color: transparent;
}

.btn-default:hover {
    border: 1px solid #000;
    outline: 0;
    color: #000;
    background-color: #f8f8f8;
}
.banner-social-buttons {
    margin-top: 0;
    padding-top: 20px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}
.btn-outlined {
    font-size: 16px;
    border-radius: 0;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
/*boton-verde*/
.btn-outlined.btn-success {
    background: none;
    border: 1px solid #000;
    color: #000;
}
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
    color: #FFF;
    background: #000;
}
.gallery-icons {
  z-index: 9;
  position: absolute;
  top: 0;
  right: 15px;
  border: 0;
  width: 149px;
  height: 149px;
}
a.item-zoom-link {
  height: 100%;
  background: url("../ivr/forkme.png") no-repeat;
  display: block;
}

.overflow {
    position: absolute;
      z-index: 3;
  padding: 12px;
  color: #000;
  font-weight: 700;
    width: 195px;
  margin-top: 50px;
}

.direccion {
    position: relative;
}

.direccion--overlay {
    position: absolute;
    left: 0;
    right: 0;
    background-image: linear-gradient(#E9E5DC 60%, transparent);
    padding-top: 25px;
    padding-bottom: 110px;
    color: #000;
    border-radius: 10px;
}
.direccion--map {
    width: 100%;
    height: 550px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    border-radius: 10px;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
/*    hace el video mas obscuro*/
/*    background: rgba(0, 0, 0, 0.4);*/
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.affix-top {
    position: absolute;
    top: 20%;
    left: 10px;
    z-index: 1020;
}
.title-container {
    z-index: 1000;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: rgba(127, 195, 98, 1)5px 10px 90px;
}
.intro2 {
    height: 100%;
    padding: 0;
    margin-bottom: 0;
     border-right: none;
    border-left: none;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: rgba(127, 195, 98, 1)5px 10px 90px;
}
